#parentContainer {
    display: flex;
    
    width: 500px;
    height: 500px;
    border: 5px solid black;
}
.tempDiv {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}