/*style.css*/
* body {
    background-color: skyblue;
}
.master-container {
    display: flex;
  
}
.header-container {
    display: flex;
    background-color: bisque;
    border: 2px solid black;
    margin-bottom: 10px;
    justify-content: center;
    margin: auto;
}

